@media all {
    
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: lato, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

p{
    padding-bottom: 1.5em;
}

body::before {
    background-color: #369;
    color: #fff;
    margin-bottom: 2em;
    border-radius: 0.3em;  
}

}

@media print{
    body::before{
        display:block;
        content: "The page is using a print preview or it was printed";
    }
}

@media screen{
    body::before{
        display: block;
        content: "This page is being shown on screen";
    }
}

