html {
    font: 16px 1.5em Arial, Helvetica, sans-serif;
}

body,
input,
button,
table {
    font: inherit;
}

body {
    margin: 2em;
}

p,
p+ol,
p+ul {
    padding-bottom: 1.5rem;
}

ol,
ul {
    padding-left: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

hr {
    height: 2px;
    margin-top: 1em;
    margin-bottom: 1em;
}

blockquote {
    font-style: italic;
    margin-left: .5em;
    margin-right: .5em;
    padding-left: 2em;
    padding-right: 1em;
    padding-top: 1em;

    border-left: 4px solid lightgrey;
    margin-bottom: 2em;

}

.author {

    font-weight: bold;
    font-size: 0.5 em;
    text-align: right;
}

table,
th,
tr {

    border: 1px solid lightgray;
    border-collapse: collapse;
}

table {

    width: 100%;
    margin-bottom: 1em;
}

th {
    padding: 0.2em;
    text-align: left;
    font-style: bold;
    background-color: lightgray;
}

td {

    border-right: 1px solid lightgray;
    padding: 0.2em;
}

tr:nth-child(even) {
    background-color: rgb(241, 238, 238);
}