h1 {
    color: red;
}

p {
    font-size: large;
}

.highlight {
    background: aquamarine;
}

#main-title {
    color: rgb(62, 99, 7)
}

#special-paragraph {
    font-style: italic;

}

ul>li {
    list-style: square;
    color: grey
}

div {
    background: blanchedalmond;
}