* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    font-family: Lato, sans-serif;
}

body {
    padding: 2em;
}

h2,
ul {
    margin-bottom: 1em;
}

.linkedButtons li,
button {
    display: inline-block;
    border: 1px solid lightgrey;
    border-radius: 5%;
    max-width: 8rem;
    /* height: 3rem; */
    text-align: center;
    padding: 1em;
    margin: 0 0.5em;
    font: inherit;
}




.linkedButtons a {

    color: #000;
    text-decoration: none;
    padding: 1em, 0;
    /* font-style: normal; */
    font: inherit;
}

.firstButton {
    background-color: lightgrey;
}

.secondButton {
    background-color: orange;
}

.thirdButton {
    background-color: lightgoldenrodyellow;
}

.editButton {
    background-color: lightgrey;
}

.firstButton:hover,
.thirdButton:hover,
.editButton:hover {
    background-color: orange;
}

.secondButton:hover {
    background-color: grey;
    color: white;
}